*
  margin: 0
  padding: 0
  font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif

.titlebar
  background: #323440
  -webkit-app-region: drag
  align-items: center
  height: 32px
  color: #f0f0f0

  .title
    flex: 1
    padding: 6px

  .button
    cursor: default
    -webkit-app-region: no-drag
    align-items: center
    justify-content: center
    width: 48px
    height: 32px
    transition: 0.1s

    &:hover
      background-color: rgba(#889, 0.4)

  .close
    &:hover
      background-color: rgba(#f00, 0.8)

#view-main
  background-color: #f0f0f0
  flex: 1
  overflow-y: auto

.audio-list
  height: 100%

  .audio
    background-color: #fafaff
    padding: 4px

  .audio:nth-child(even)
    background-color: #f0f0fa
